/* Global styles */
* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
}

/* Header */
.header {
  padding: 20px 0;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #ff6004;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content2,
.content3 {
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  min-height: 450px;
}

.content3 {
  background-size: cover;
  background-position: center;
  color: white;
}

.text1 {
  font-size: 1em;
  line-height: 1.5em;
}

.footer {
  text-align: center;
}

/* Responsive layout */
@media screen and (max-width: 1024px) {
  .navbar {
    justify-content: center;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .header h3 {
    font-size: 1.5em;
  }
}

/* Mobile View */
@media screen and (max-width: 600px) {
  .text1,
  .navbar .header h1 {
    font-size: 1em;
    line-height: 1.2em;
  }

  .button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
